<h2>All orders</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Phone</th>
			<th>Address</th>
			<th>Order</th>
		</tr>
	</thead>
	<tbody>
		<% @order.each do |order|%>
		<tr>
			<td><%= order.name %></td>
			<td><%= order.phone %></td>
			<td><%= order.address %></td>
			<td><%= order.orders_input %></td>
		</tr>
		<%end%>

	</tbody>
</table>